/* Error: expected "{".
 *   ,
 * 9 |     include fira(light);
 *   |                        ^
 *   '
 *   css\about.scss 9:24  @import
 *   main.scss 20:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 9 \2502      include fira(light);\d\a   \2502                         ^\a   \2575 \a   css\\about.scss 9:24  @import\a   main.scss 20:9       root stylesheet';
}
